body {font-family: Verdana, Geneva, Tahoma, sans-serif;}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:32px;
    
}

.header, .top-section {
    background-color: #1f2937;
    color: #f9faf8; 
}

.header-logo{
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.right-links {
    display:flex;
    justify-items: flex-end;
    gap:16px; 
}

ul { list-style-type: none; } 

a {color: lightgray;}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.top-section {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.top-left {width: 400px}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom:16px;
}

.subtitle {
color: lightgrey;
}

.button {
    color: white;
    background-color: #3882f6;
    border: none;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    border-radius: 12px;
}

.random-information-section {
    padding: 48px;
}

.pics {
    display: flex;
    justify-content: space-around;
    gap:48px;
}

.pics-with-text {
    text-align: center;
    width: auto;
}

.title-2 {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    padding: 16px;
}

.quote-section {
    background-color: #e5e7eb;
    padding-left:150px;
    padding-right: 150px;
    padding-top: 48px;
    padding-bottom: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color:#1f2937;
}

.quote-sayer {
    text-align: right;
    font-size: 42px;
}

.call-to-action-container {
    background-color: #ffffff;

    padding-top: 48px;
    padding-bottom: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    width: 80%;
    padding:32px;
    color: white;
    border-radius: 16px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-header {
    font-size: 24px;
    font-weight: 600;
}

.action-sub {}

.action-box button {
    border: 2px solid white;
}
    